body {
    background-image: linear-gradient(to right, red, yellow);
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    max-width: 600px;
    margin: auto;
    padding-top: 3em;
    display:none; 
}

#titleDiv {
    background-color: blue;
}

input {
    width: 100%;
    box-sizing: border-box;
}

input:focus{
	background: #eeffee;
	outline: none;
}

.listItem {
    background-color: green;
    display: flex;
    justify-content: space-between;
}

.listItem:hover > .delete {
    background-color: crimson;
    transition: 0.3s;
    opacity: 1;
}

.delete {
    opacity: 0;
}

.finished {
    text-decoration: line-through;
    color: #999999;
}

.darkMode {
    background-image: linear-gradient(to right, #222222, #a5a5a5);
}