body {
    background-image: linear-gradient(to right, #3fc5f0, #42dee1);
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    transition: 0.4s;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.0);
    max-width: 600px;
    margin: auto;
    margin-top: 5em;
    display:none; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bottomButtons {
    background-color: #6decb9;
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}

#titleDiv {
    background-color: #6decb9;
    font-size: 20px;
    padding: 10px 0px 5px 10px
}

input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 17px;
}

#inputDiv {
    height: 2em;
}

input:focus{
	background: #eeffee;
	outline: none;
}

.listItem {
    background-color: #eef5b2;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 5px 10px
}

.listItem:hover {
    background-color: #eff6c2;
}

.listItem:hover > .delete {
    transition: 0.3s;
    opacity: 1;
}

.delete {
    opacity: 0;
}

.finished {
    text-decoration: line-through;
    color: #999999;
}

button {
        transition-duration: 0.1s;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
        background-color: #6decb9; 
        border: none;
        font-size: 12px;
}

button:hover {
color: #999999
  }

button:focus {
	outline: none;
}

.darkMode {
    filter: grayscale(0.9) invert(100%) brightness(0.9);
    background-image: linear-gradient(to right, #222222, #838383);
}